doctype html
html
    head
        title= title

        link(href='index.css', rel='stylesheet')
        script(src='./js/libs/jquery.min.js')
        script(src='./js/libs/three.min.js')

        script(src='./js/ImprovedNoise.js')
        script(src='./js/Detector.js')

        script(src='./js/effects/OculusRiftEffect.js')
        script(src='./js/effects/AsciiEffect.js')
        script(src='./js/effects/AnaglyphEffect.js')

        script(src='./js/controls/FirstPersonControls.js')
        script(src='./js/controls/DK2Controls.js')

        script(src='./js/loaders/collada/Animation.js')
        script(src='./js/loaders/collada/AnimationHandler.js')
        script(src='./js/loaders/collada/KeyFrameAnimation.js')

        script(src='./js/loaders/ColladaLoader.js')

        script(src='./js/libs/stats.min.js')
    body
        div(id="container")

        script(src='./js/app.js')
