doctype html
html
    head
        title= title

        link(href='index.css', rel='stylesheet')
        script(src='./js/libs/jquery.min.js')

        script(src='./js/libs/leap-0.6.4.min.js')
        script(src='./js/libs/leap-plugins-0.1.11.min.js')
        script(src='./js/libs/leap.bone-hand.js')

        script(src='./js/libs/three.min.js')

        script(src='./js/ImprovedNoise.js')
        script(src='./js/Detector.js')

        script(src='./js/controls/FirstPersonControls.js')
        script(src='./js/controls/DK2Controls.js')

        script(src='./js/libs/stats.min.js')
    body
        div(id="container")

        script(src='./js/app.js')
